html {
	color-scheme: dark;
}

body {
	background-color: #172753;
}

::-webkit-scrollbar {
	background-color: #202324;
	color: #aba499;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #454a4d;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background-color: #575e62;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
	border-radius: 10px;
	background-color: #484e51;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-corner {
	border-radius: 10px;
	background-color: #181a1b;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bDiv {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bButton {
	color: white;
	font-size: 15px;
	font-weight: 700;
	margin-top: 20px;
	padding: 6px 16px;
	border-radius: 4px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	background-color: rgb(48, 48, 48);
}

.bFormDiv {
	color: white;
	padding-top: 10px;
	line-height: 34px;
	text-align: center;
}

.bFormDivE {
	margin-bottom: 10px;
}

.bFormDiv h4 {
	color: white;
	margin-top: 0px;
	font-weight: 700;
	padding-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
}

.bFormDiv img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bFormDiv a {
	margin-top: 0px;
	font-weight: 700;
	padding-top: 0px;
	margin-bottom: 0px;
}

.bFormDiv label {
	color: white;
	font-weight: 700;
	margin-right: 3px;
}

.bFormDiv input[type=radio] {
	width: 15px;
	height: 15px;
	appearance: none;
	border-radius: 3px;
	display: inline-grid;
	place-content: center;
	background-color: #fff;
	border: 2px solid #ccc;
}

.bFormDiv input[type=radio]::before {
	content: "";
	width: 10px;
	height: 10px;
	transform: scale(0);
	background-color: #fff;
	transform-origin: bottom left;
	clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

.bFormDiv input[type=radio]:checked::before {
	transform: scale(1);
}

.bFormDiv input[type=radio]:checked {
	background-color: #268aff;
	border: 3px solid #268aff;
}

.bFormDiv input[type="text"] {
	width: 13em;
	color: white;
	font-size: 15px;
	font-weight: 700;
	padding: 6px 12px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: rgb(48, 48, 48);
}

.bFormDiv button {
	color: white;
	font-size: 15px;
	font-weight: 700;
	margin-top: 10px;
	padding: 6px 12px;
	border-radius: 4px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	background-color: rgb(48, 48, 48);
}

.ntTable {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	background-color: rgb(64, 64, 64);
}

.ntTable th {
	padding: 5px;
	color: white;
	font-size: 15px;
	font-weight: 700;
	border: 1px solid #000;
	background-color: rgb(32, 32, 32);
}

.ntTable td {
	padding: 5px;
	color: white;
	font-size: 15px;
	font-weight: 700;
	border: 1px solid #000;
	background-color: rgb(64, 64, 64);
}